Host shuttle
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host omv
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host homeone
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host cruiser
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host destroyer
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host starship
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host nebulonb
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host outrider
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>

# Kubernetes cluster nodes
Host kube-master
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host kube1
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host kube2
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host kube3
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
# Dev server
Host razor
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>

# Remote servers
Host venator
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host xwing
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
Host tie
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>

# Onsite servers
Host ywing
	HostName <IP>
	User <User>
	Port <Port>
	IdentityFile <Path>
